section.create
    .crhead Crate your holiday activity
    .crhead2 Hi! What are your holiday interests?
    .search
        form.searchholder
            input(type='text' placeholder='Enter your insterests')
        button.searchbutton(type='reset') Search partners
