footer.footer
  .company
    .dshf DREAMSHARE
    .companyul
      p.compulh Company
      ul.ulab
        li.absolut1 About
        li.absolut2 Contact
        li.absolut3 Press
        li.absolut4 Blog
        li.absolut5 Terms and Privacy
        li.absolut6 Help
    .partners Partners
    .designed
      .topdes DESIGNED BY
      img.desimg(src='./img/Bitmap.png' alt='')
