header
  section.top
    .logo DREAMSHARE
    .acc
      .login Log in
      a.signup(href='#') Sign up
    section.centr
      h1.holiday
        | SHARE YOUR
      h1.holidaybot
        | HOLIDAY DREAM
      .and And find the perfect partner to fullfill it
      a.button-header(href='#') Find your holiday partner
