doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='css/main.min.css')
body
  main  
      block header 
          include header
      block steps 
          include steps 
      block partners 
          include partners 
      block ideas 
          include ideas 
      block create 
          include create 
      block footer 
          include footer 
            