section.partners
      .hpartners Meet a partner for your best holiday
      .avatars
        .avblock1
          .imgav
            img(src='./img/Avatar 1.png' alt='')
          .avaname1.montb Bradley Hunter
          .avatext.montl Based in Chicago. I love playing tennis and loud music.
        .avblock2
          .imgav
            img(src='./img/Avatar 2.png' alt='')
          .avaname2.montb Marie Bennett
          .avatext.montl Currently living in Colorado. Lover of art, languages and travelling.
        .avblock3
          .imgav
            img(src='./img/Avatar 3.png' alt='')
          .avaname3.montb Diana Wells
          .avatext2.montl
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        .avblock4
          .imgav
            img(src='./img/Avatar 4.png' alt='')
          .avaname4.montb Christopher Pierce
          .avatext2.montl Star Wars fanatic. I have a persistent enthusiasm to create new things.
      .seem See other partners