section.steps
      .step1
        .texts1
          .redb1 S T E P 1
          .texth1 Sed leo enim, condimentum
          .sts1
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      .step2
        .texts2
          .redb2 S T E P 2
          .texth2 Morbi velit risus
          .sts2
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      .step3
        .texts3
          .redb3 S T E P 3
          .texth3 Sed leo enim, condimentum
          .sts3
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
